@use "~/assets/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-manrope;
  overflow-x: hidden;
}

.font-heading {
  font-family: $font-gloock;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: $font-manrope;
  font-weight: 500;
  position: relative;
  user-select: none;
}

.line {
  overflow: hidden !important;
  display: block;
}

.word {
  overflow: hidden !important;
  display: inline-block;
}


