@use "~/assets/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: $font-manrope;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


.font-heading {
  font-family: $font-gloock;
  font-weight: 400;
}

button {  
  cursor: pointer;
  font-family: $font-manrope;
  font-weight: 500;
  position: relative;
}

.line {
  overflow: hidden !important;
  display: block;
}

.word {
  overflow: hidden !important;
  display: inline-block;
}


@media (hover: none) and (pointer: coarse) {
  button {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none; /* iOS long-press menu */
  }
}

