@use "~/assets/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  font-family: $font-manrope;
  overflow-x: hidden;
}


.font-heading {
  font-family: $font-gloock;
  font-weight: 400;
}

button {  
  cursor: pointer;
  font-family: $font-manrope;
  font-weight: 500;
  position: relative;
}

.line {
  overflow: hidden !important;
  display: block;
}

.word {
  overflow: hidden !important;
  display: inline-block;
}


.auth-global-btn {
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      cursor: pointer;

      font-family: $font-manrope;
      border-radius: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      text-align: center;
      font-style: normal;
      font-weight: 450;
      line-height: 110%;
      transition: all 0.2s ease-in-out;

      @include clamp-property("padding", 1.25, 1.25);
      @include clamp-property("font-size", 1, 1);
}



@media (hover: none) and (pointer: coarse) {
  button {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none; /* iOS long-press menu */
  }
}

